body {
    background-image: url(/img/pencils.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-text {
    color: aliceblue;
    font-size: 2.3rem; 
}

#message_welcome {
    color: aliceblue;
    font-size: 2rem;
    line-height: normal;
}

.list {
    padding: 0;
    list-style: none;
}

.list_item {
    width: 100%;
    padding: 3px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 8px;
}

.list-link {
    text-decoration: none;
    color: rgb(24, 23, 27);
    margin: auto;
    font-size: 1.5rem;
}

.app-footer {
    padding: 10px;
}

.card-header {
    font-weight: bold;
}

.bold-id {
    font-weight: bold;
}

.post-form {
    display: block;
}

.form-control {
    margin-bottom: 10px;
}

.form-group {
    margin-left: 10px;
}

li.list-group-item {
    border-radius: 0;
    border: 0;
    border: 1px solid #ddd;
}

li.list-group-item:hover {
    background-color: rgba(86, 61, 124, .1);
}

.list-group {
    margin-top: 10px;
}

.mic-info {
    color: #666666;
    font-size: 12px;
}

.card-body {
    padding-top: 5px;
}

.comment-text {
    font-size: 14px;
}

.comments-btns {
    margin: 0px;
    margin-right: 2px;
}

.comments-btns:hover {
    background-color: #d5d7db;
}

.btns-box {
    padding: 0px;
}

.add-comment {
    margin-top: 30px;
}

.red {
    border: 1px solid red;
}

.language-label {
    font-size: 13px;
    color: #949494;
}

.comment-score {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.comment-score-value {
    margin: 10px 0px 10px 0px;
}

.comment-score-btn {
    font-weight: bold;
    font-size: 12px;
}

.disable {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
    background-color: #d9dbd9;
    border-color: transparent;
}

.report-container{
    text-align: center;
    width: 100%;
}

.report-btn {
    background-color: transparent;
    border: none;
    padding: 2px;
    font-size: 12px;
    color: #ff6666;
}

.comments-btns-container {
    width: 100%;
    float: right;
}

.fixed-btn {
    margin-left:auto; 
    margin-right:0;
}

.forum-options{
    float: left;
}