.card-header {
    font-weight: bold;
}

.high-price {
    font-weight: bold;
    color: red;
}

.bold-id {
    font-weight: bold;
}

.post-form {
    display: block;
}

.form-control {
    margin-bottom: 10px;
}

.form-group {
    margin-left: 10px;
}

body {
    padding-top: 30px;
}

.widget .panel-body {
    padding: 0px;
}

.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
    background-color: rgba(86, 61, 124, .1);
}

.widget .mic-info {
    color: #666666;
    font-size: 12px;
}

.widget .action {
    margin-top: 15px;
}

.widget .comment-text {
    font-size: 14px;
}

.widget .btn-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.comments-btns{
    font-size: 12px;
    margin:0px;
    margin-left: 5px;
}